@charset "utf-8";
/* CSS Document */

body	{background-color: #c60;}
#wrapper2	{background-color: white; margin: 0px auto; width: 900px;}
#wrapper	{background-color: white; margin: 0px auto; width: 950px;}
#Logo	{float:left;padding: 15px 0px 0px 9px}
#Icon	{float:right;padding: 10px 0px 0px 5px}

#navigation	{clear:both; word-spacing:20px; text-decoration-line: none; border-top: solid black 1px; border-bottom: solid black 1px; margin:5px 5px 5px 5px; padding: 15px 0px 15px 0px}
#navigation a {font-family: Arial; font-size:15px; text-decoration-line: none; margin-left: 10px;}
#navigation a:link {color:#000;}
#navigation a:hover {color:#c60;}

#Title	{color:#c60; border-bottom: solid black 1px;}

#LeftContent {float: left; width: 600px;}
#LeftContent p {font-family: Arial; font-size: 12px; margin: 12px 0px 12px 0px;}
#LeftContent img {border: solid black 1px; padding: 5px;}

#LeftContentDining {float: left;}
#LeftContentDining p {font-family: Arial; font-size: 12px; margin: 20px 0px 20px 0px;}

#RightContent {float: right; width: 200px;}
#RightContent h3 {color: #c60;}

#content1 {float: none;}

#FamilyRooms {background-color: lightgray; padding: 20px; width: 25%; margin: 40px 30px 40px 10px; border-top: 10px solid red; float: left;}
#FamilyRooms h1 {border-bottom: solid black 1px; margin: 0px 0px 0px 0px; padding: 0px 0px 10px 0px;}

#ContemporaryRooms {background-color: lightgray; padding: 20px; width: 25%; margin: 40px 30px 40px 10px; border-top: 10px solid blue; float: left;}
#ContemporaryRooms h1 {border-bottom: solid black 1px; margin: 0px 0px 0px 0px; padding: 0px 30px 10px 0px;}

#ModernRooms {background-color: lightgray; padding: 20px; width: 25%; margin: 40px 0px 40px 10px; border-top: 10px solid green; float: left;}
#ModernRooms h1 {border-bottom: solid black 1px; margin: 0px 0px 0px 0px; padding: 0px 0px 10px 0px;}

#footer {clear: both; padding: 10px 50px 10px 360px; border-top: solid black 1px;}